@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

/* Уберите height и width из этого селектора */
html,
body,
#root {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Удалите height из этого селектора */
.app {
  display: flex;
  position: relative;
}

/* Добавьте высоту и ширину для .content */
.content {
  height: 100%;
  width: 100%;
}

main {
  margin-top: 50px; /* чтобы основное содержимое не перекрывалось топбаром */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.MuiDataGrid-menuIcon, .MuiDataGrid-iconButtonContainer {
  visibility: visible !important;
  opacity: 1 !important;
  margin-right: 22px !important;
}

.MuiDataGrid-columnHeaderTitleContainer:hover .MuiDataGrid-menuIcon {
  transform: none !important;
  margin: 0 !important;
}

.MuiDataGrid-columnHeaderTitleContainer .MuiDataGrid-menuIcon {
  margin-left: 8px !important;
}

.MuiDataGrid-columnHeader:hover .MuiButtonBase-root {
  transform: none !important;
  margin-right: -28px !important;
} 

.MuiDataGrid-filterFormOperatorInput, .MuiDataGrid-filterFormColumnInput {
  display: none !important;
}

.MuiPaper-root {
  height: fit-content !important;
}
